@media(max-width:1200px){}
@media(max-width:992px){}
@media(max-width:768px){}
@media(max-width:576px){
    .img{
    display: flex;
    flex-wrap: wrap;        
    }
    .nav_blog{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        padding-right: 120px;
        /* padding: 10px 90px 0; */
    }
    .nav_list{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .nav_link{
        padding-top: 25px;

    }
    img{
        display: flex;
        flex-wrap: wrap;
    }
}